
/* Hover highlight */
.leaflet-marker-icon {
  	opacity: 0 !important;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
}

.leaflet-marker-icon:hover {
    opacity: 1 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
}

/* Define hover tips style*/
.custom-hover {
}

.custom-control-hover-label {
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(OffX=-2, OffY=-2, Color=#003366)";
	text-shadow: -2px -2px 2px #036, 2px 2px 2px #036;
}


/* Define popup style*/
.leaflet-popup-content-wrapper {
	background-color: #036;
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Strength=2, Color=#FFFFFF)";
	box-shadow: -2px -2px 2px white, 2px 2px 2px white;
}

.leaflet-popup-close-button {
	background-color: transparent;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;	
}

.leaflet-popup-content {
	margin: 12px;
}

#popup-title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white;
}

